nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(45deg, #2c3e50, #3498db);
}

.list{
    list-style-type: none;
    background: linear-gradient(45deg, #2c3e50, #3498db);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.items{
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #f1f1f1;
    cursor: pointer;
}


.btn {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 2px;
    color: #000;
    background: linear-gradient(45deg, #2c3e50, #3498db);
    font-size: 18px;;
    width: 50px;
}

@media screen and (max-width: 500px){
    .list {
        flex-direction: column;
        height: auto;
    }
    .items:nth-child() {
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0px;
    }
    .btn {
        display: block;
    }
}